:root {
	--main-text-color: #212121;
	--second-text-color: #757575;
	--accent-color: #2196f3;
	--hero-text-color: #ffffff;
	--accent-background-color: #2F303A;
	--button-hover-focus: #188CE8; 
	--section-team-background: #F5F4FA; 
	--logo-black: #000000; 
}

body {
	background-color: var(--hero-text-color);
	color: var(--main-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
}

header {
	border-bottom: 1px solid #ECECEC;;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.address {
	color: var(--hero-text-color);
	text-decoration: none;
	font-size: 14px;
	line-height: 1.7;
	font-style: normal;
}

.footer-address {
	margin-top: 20px;
}

.footer-address ul :not(:last-child) {
	margin-bottom: 9px;
}

.logo {
	color: var(--accent-color);
	text-decoration: none;
	font-family: Raleway, sans-serif;
	
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.logo-black {
	color: var(--logo-black);
}

.logo-white {
	color: var(--hero-text-color);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mail-tel {
	display: flex;
	margin-left: auto;
}

.mail-tel :not(:last-child) {
	margin-right: 50px;
}

.mail-tel a {
	color: var(--second-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
    display: block;
	text-decoration: none;
}

.mail-tel a:hover,
.mail-tel a:focus {
	color: var(--accent-color);
}

.main-nav {
	display: flex;
	align-items: center;
}

.section-one {
	background-color: var(--accent-background-color);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.heads-links {
	display: flex;
	margin-left: 93px;
}

.heads-links-list:not(:last-child) {
	margin-right: 50px;
}

.heads-links a {
	color: var(--main-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	text-decoration: none;
	display: block;
}

.heads-links a:hover,
.heads-links a:focus {
	color: var(--accent-color);
}


.section-hero-title {
	color: var(--hero-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-top: 0;
	width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.section-title ;
.features-list .title ;
.team-list .title ; {
	color: var(--main-text-color);
	text-decoration: none;
	margin-top: 0;
	margin-bottom: 0;
}

.features-list {
	display: flex;
}

.features-list li:not(:last-child) {
	margin-right: 30px;
}

.section-wedo {
	padding-top: 0;
}

.section-wedo ul {
	display: flex;
	margin-top: 50px;
}

.section-wedo li:not(:last-child) {
	margin-right: 30px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -30px;
	margin-right: -30px;
}

.portfolio-list a {
	text-decoration: none;
	color: var(--main-text-color);
}

.portfolio-list li {
	margin-right: 30px;
	margin-bottom: 30px;
}


.portfolio-title {
	color: var(--main-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	margin-bottom: 4px;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	margin-top: 0;
}

.section-team {
	background-color: var(--section-team-background);
}

.section-team ul {
	display: flex;
	margin-top: 50px;
}

.section-team li:not(:last-child) {
	margin-right: 30px;
}


.list-name {
	color: var(--second-text-color);
	font-size: 16px;
	line-height: 1.9;
}

.button:hover,
.button:focus {
	background-color: var(--button-hover-focus);
}

.button {
	color: var(--hero-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	min-width: 216px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	cursor: pointer;
	border-radius: 4px;
	padding: 10px 32px;
	text-align: center;
	border: none;
}

.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter li:not(:last-child) {
	margin-right: 8px;
}

.filter button {
	background-color: var(--section-team-background);
	color: var(--main-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	font-family: inherit;
	cursor: pointer;
	border: none;
	display: block;
	border-radius: 4px;
	letter-spacing: 0.03em;
	padding: 6px 22px;
}

.filter button:hover,
.filter button:focus {
	color: var(--hero-text-color);
	background-color: var(--accent-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

nav .current {
	color: var(--accent-color);
}

footer {
	background-color: var(--accent-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

footer .logo {
	padding: 0;
}

.mail-tel-footer:hover,
.mail-tel-footer:focus {
	color: var(--accent-color);
}

.mail-tel-footer {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-size: 14px;
	line-height: 1.7;
	font-style: normal;
}

.team-list .title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 10px;
}

.team-li {
	background: var(--hero-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.under-photo {
	padding-top: 30px;
	padding-bottom: 30px;
}

.title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 10;

	text-decoration: none;
}

.features-list p {
	font-size: 14px;
	line-height: 1.7;
	margin-top: 10px;
	color: var(--second-text-color);
	text-decoration: none;
}

.team-list p {
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	color: var(--second-text-color);
}

.title {
	margin-bottom: 10;
}

.under-photo-portfolio {
	padding: 20px 24px;
	border: 1px solid #EEEEEE;
	border-top: none;
}

.site-nav a {
    padding-top: 25px;
	padding-bottom: 25px;
	display: block;
}

.site-nav {
	display: flex;
	align-items: center;
}

.portfolio-list li:nth-child(3n)

/*основной цвет #212121 */
/*вторичный цвет #757575 */
/*белый #FFFFFF */
/*цвет акцент #2196F3 */
